.apps {
	margin-top: 5em;
	width: calc(100% - 2em);

	color: white;
}

.app-icon {
	height: 30px;
	width: 30px;

	background-size: cover;
}

.netflix-icon {
	background-image: url('../assets/img/netflix-icon.png');
}