.container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
}

.case {
  height: 34.9375em;
  padding: 1em 1em 4em;
  width: 23.4375em;

  border-radius: 1.5em;
  background-color: black;
}

.case__inner {
  background-color: white;
  border-radius: 1.5em;
  height: 100%;
  width: 100%;
}