html, body {
  max-height: 100vh;
  overflow: none;
}

p {
  margin: 0;
}

button {
  border: none;
  display: block;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;

}

.case {
  height: 34.9375em;
  padding: 1em 1em 4em;
  width: 23.4375em;

  border-radius: 1.5em;
  background-color: black;
}

.case__inner {
  border-radius: 1.5em;
  height: 100%;
  width: 100%;
  background-color: #17202A;

}

@media(max-width: 767px) {
  body {
    height: 100vh;
    max-width: 100vw;
    overflow: none;
  }
  .case {
    height: 100vh;
    padding: 0;
    max-width: 100vw;

    border-radius:0;
  }

  .case__inner {
    border-radius: 0;
  }
}

@import './css/carousel.css';
@import './css/flick-btn.css';